.transationTitle {
  padding-bottom: var(--xs);
}

.emptyStateContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.emptyStateTitle {
  margin-top: var(--sm);
}

.emptyStateSubtext {
  margin-top: var(--sm);
  color: var(--text-secondary);
  font-weight: 500;
}

.transactionCard {
  border-bottom: 1px solid var(--border);
  padding: var(--md) 0;
}

.transactionCard:last-child {
  border-bottom: none;
}
/* ultimo item nao tem border */

.data {
  display: flex;
  gap: var(--xl-3);
  align-items: center;
  justify-content: space-between;
}

.description-date-amount {
  display: flex;
  align-items: center;
}

.description-date {
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: var(--xs);
}

.date {
  color: var(--placeholder);
}

.editButton {
  width: 100%;
}

.iconEdit {
  padding-left: 12px;
  width: var(--ml);
}

.income {
  color: var(--success);
}

.expense {
  color: var(--danger);
}

.transactionsList {
  max-height: 280px;
  overflow-y: auto;
  /* assim mesmo que so tenha um item, a barra de scrol nao aparece, se tiver scroll, aparece sempre */
}

.transactionsList::-webkit-scrollbar {
  width: 5px;
}

.transactionsList::-webkit-scrollbar-thumb {
  background-color: var(--border);
  border-radius: 4px;
}

.edit-modal-delete {
  display: flex;
  gap: var(--md);
  display: flex;
  flex-direction: row-reverse;
}

@media screen and (max-width: 1100px) {
  .data {
    display: flex;
    flex-direction: column;
    gap: var(--md);
  }
  .description-date {
    width: 100%;
  }

  .edit-modal-delete {
    border-top: 1px solid var(--border);
    padding-top: var(--sm);
    display: flex;
    align-items: center;
    gap: var(--md);
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

  }
  .description-date-amount {
    width: 100%;
  }

  .transactionCard {
    border: 1px solid var(--border);
    border-radius: var(--xs);
    margin: var(--md) 0;
    padding: var(--sm);
    margin-right: var(--sm);
  }

  .transactionCard:last-child {
    border-bottom: 1px solid var(--border);
  }

  .editButton {
    width: fit-content;
  }
}
