.navContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--border);
  padding-bottom: var(--sm);
}

.navContainer > :last-child {
  justify-self: end;
}

.googleIcon{
  width: 24px;
}

.themeGoogle {
  display: flex;
  gap: var(--md);
}

.userContainer {
  color: var(--text-primary);
  font-weight: 600;
  display: flex;
  white-space: nowrap;
  align-items: center;
}
@media screen and (max-width: 900px) {

  .navContainer {
    display: flex;
    justify-content: space-between;

  }

  .navItem {
    display: none;
  }
}
