.footerContainer {
    border-top: 1px solid var(--border);
    padding: var(--md);
    margin-top: var(--md);
    display: flex;
    justify-content: center;
}
.footerText {
    color: var(--placeholder);
    font-size: var(--s);
}